* {
  font-family: 'Open Sans', sans-serif !important;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background-color: #F56B2A;
}

#navphone button {
  background-color: white;
  color: #F56B2A;
  width: 60px;
  padding: 10px;
  font-size: 15px;
}

#leboncoin {
  width: 160px;
  margin: auto;
}

#leboncoin img {
  width: 100%;
}

#navbarSupportedContent {
  position: absolute;
  top:50px;
  left:0;

  background-color: #E0F2FF;
  width: 80%;

}

#navbarSupportedContent a {
  color: #369;
  font-weight: bold;
  text-transform: uppercase;
}

#navbarSupportedContent li {
  padding: 10px;
  heigth: 20px;
  border-top: 1px solid #ccc;

}

#navbarSupportedContent li:hover {


  background-color: white;
}

#navbarSupportedContent li:hover a{
  color: #F56B2A;

}

******************************************************fin header***********************************************
